/*common*/
body {
	font-family: 'Nanum Gothic', sans-serif;
	font-size: calc(0.75em + 1vw);
	overflow-x: hidden;
	width: 100%;
}

main {
	display: flex;
	flex-direction: row;
	margin: 1em 0;
	flex-wrap: wrap;
}

img {
	width: 100%;
  height: auto;
	border-radius: 50%;
	margin: auto;
	display: block;
}

/*모바일*/
@media (max-width: 800px){
	img {
		padding: 1.5em 0;
	}
}

@media (min-width: 1200px){
	body{
		font-size: 1.5em;
	}

	main {
		margin: 1em auto;
		max-width: 55em;
	}
	section.about_me {
		font-size: 80%;
		flex-basis: 30%;
	}

	section.detail {
		flex-basis: 60%;
		flex-grow: 1;
	}

}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	color: coral;
	font-weight: bold;
}

button {
	border: none;
	border-radius: 0.5em;
	background-color: azure;
	font-size:0.8em;
	margin: 0.3em 0.2em;
	cursor: pointer;
	color:black;
}

button:hover {
	font-weight: bold;
	color: white;
	background-color:	rgb(71, 100, 155);
	/* background-color:  mistyrose; */

}

/*header*/
header {
	width: 100vw;
	display: flex;
	justify-content: center;
	height: 7vh;
	align-items: flex-end;
	border-bottom: 1px solid rgb(192, 192, 192);
}

header ul.list{
	font-size: 18px;
	margin-left:2em;
}

header ul.list li {
	float: left;
	margin: 0 0.2em 0.5em 0.2em;
}

header ul.list li:nth-child(1){
	text-align: right;
}

header ul.list li:nth-child(3){
	width: 4em;
	text-align: center;
}

header ul.list li.page {
	color: coral;
	font-weight: bold;
}

/*section - about me*/
section.about_me {
	display: flex;
	flex-direction: column;
	max-width: 35em;
	margin: auto;
	padding:0 1.5em;
}

section.about_me .texts h2 {
	margin-top: 2vh;
	font-size: 1.4em;
	line-height: 1.1em;
}


section.about_me .texts h1 {
	font-weight: bold;
	font-size: 1.5em;
	margin-bottom: 1.5vh;
	line-height: 1.3em;
}

section.about_me .texts ul.info {
	font-size: 0.8em;
	line-height: 1.5em;
	background-color: rgba(255, 252, 205, 0.801);
	border-radius: 1em;
	margin: 2em 0;
}

section.about_me .texts p {
	font-size: 0.95em;
	line-height: 1.3em;
}

section.about_me .texts p::after {
	content: "";
	display: block;
	margin: 2em 0;
	border-bottom: 1px solid rgb(192, 192, 192);

}

section.about_me .tech {
	margin-bottom: 2em;
}

section.about_me .tech h3 {
	font-size: 0.8em;
	font-weight: bold;
	margin-bottom: 0.8em;
}

section.about_me .tech .small_span {
	font-weight:lighter;
	color: rgba(121, 121, 121, 0.8);
	font-size: 0.6em;
	margin-left: 0.5em;
}

section.about_me .tech .main_tech {
	margin:0 0 2em 0.1em;
}

section.about_me .tech .main_tech button{
	font-weight: bold;

	background-color: rgb(12, 132, 136);
	color:white;
}

section.about_me .tech .main_tech button:hover{
	background-color:	rgb(71, 100, 155);
}

section.about_me .tech .sub_tech {
	margin-left: 0.1em;
}

/*section - detail*/
section.detail {
	display: flex;
	flex-direction: column;
	max-width: 36em;
	margin: 0 auto;
	padding: 0 1em;
	/* overflow-y: scroll;
	height: 900px; */
}

/* section.detail::-webkit-scrollbar{
	display:none;
} */

section.detail .wrap_detail {
	border-radius: 1em;
	border: 1px solid rgb(192, 192, 192);
}

section.detail .wrap_detail h2{
	font-size:0.8em;
	font-weight:bold;
	padding: 1.2em;
}

section.detail .wrap_detail .wrap_content{
	display: flex;
	flex-direction: row;
	padding: 0 0.1em 1em 1em;
}

section.detail .wrap_detail .wrap_content h4{
	font-size: 0.5em;
	margin-right: 0.8em;
	padding-top: 0.1em;
	min-width:10em;
}

section.detail .wrap_detail .wrap_content .content h3{
	font-size: 0.8em;
	font-weight: bold;
}

section.detail .wrap_detail .wrap_content .content p{
	font-size: 0.6em;
	padding-top: 0.8em;
}

section.detail .wrap_detail .wrap_content .content ul{
	padding-top: 0.4em;
	font-size: 0.6em;
	list-style-type: '\1F388';
	margin-left: 1.5em;
	margin-right: 1em;
}

section.detail .wrap_detail .wrap_content .content li{
	margin-bottom: 1em;
}
